<a href="https://colab.research.google.com/github/MiguelLuan/TelecomX_BR/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“Œ ExtraÃ§Ã£o

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/MiguelLuan/TelecomX_BR/main/Data_base/TelecomX_Data.json'

In [3]:
df = pd.read_json(url)

# ðŸ”§ TransformaÃ§Ã£o

In [4]:
customer_col = pd.json_normalize(df['customer'])
phone_col = pd.json_normalize(df['phone'])
internet_col = pd.json_normalize(df['internet'])
account_col = pd.json_normalize(df['account'],sep='_')

In [5]:
df_base = df.drop(columns=['customer','phone','internet','account'])

In [6]:
df = pd.concat([df_base,customer_col,phone_col,internet_col,account_col],axis=1)

In [7]:
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges_Monthly   7267 non-null   float64
 20  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [9]:
for i in df.columns:
  print(i,'-',df[i].unique())

customerID - ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn - ['No' 'Yes' '']
gender - ['Female' 'Male']
SeniorCitizen - [0 1]
Partner - ['Yes' 'No']
Dependents - ['Yes' 'No']
tenure - [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService - ['Yes' 'No']
MultipleLines - ['No' 'Yes' 'No phone service']
InternetService - ['DSL' 'Fiber optic' 'No']
OnlineSecurity - ['No' 'Yes' 'No internet service']
OnlineBackup - ['Yes' 'No' 'No internet service']
DeviceProtection - ['No' 'Yes' 'No internet service']
TechSupport - ['Yes' 'No' 'No internet service']
StreamingTV - ['Yes' 'No' 'No internet service']
StreamingMovies - ['No' 'Yes' 'No internet service']
Contract - ['One year' 'Month-to-month' 'Two year']
PaperlessBilling - ['Yes' 'No']
PaymentMethod - ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges_Monthly - [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges_Total - ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [10]:
sum(df['Charges_Total'].str.match(r'^\s*$'))

11

In [11]:
df['Charges_Total'] = pd.to_numeric(df['Charges_Total'],errors='coerce')

In [12]:
df['Charges_Total'].isna().sum()

np.int64(11)

In [13]:
df = df.dropna(subset=['Charges_Total'])

In [14]:
len(df.index)

7256

In [15]:
df = df[df['Churn'] != '' ]

In [16]:
cols_num = ['Churn','Partner','Dependents','PhoneService','PaperlessBilling']

for col in cols_num:
  df[col] = (df[col]
          .str.replace('Yes','1')
          .str.replace('No','0')
          .astype('Int64')
  )

In [17]:
df = df.astype(
    {
      'customerID': 'string',
      'gender': 'category',
      'MultipleLines': 'category',
      'InternetService': 'category',
      'OnlineSecurity': 'category',
      'OnlineBackup': 'category',
      'DeviceProtection': 'category',
      'TechSupport': 'category',
      'StreamingTV': 'category',
      'StreamingMovies': 'category',
      'Contract': 'category',
      'PaymentMethod': 'category',
    }
)

In [18]:
df['customerID'].duplicated().sum()

np.int64(0)

In [19]:
df = df.assign( daily_accounts = round(df['Charges_Monthly'] / 30,2))

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   string
 1   Churn             7032 non-null   Int64
 2   gender            7032 non-null   category
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   Int64
 5   Dependents        7032 non-null   Int64
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   Int64
 8   MultipleLines     7032 non-null   category
 9   InternetService   7032 non-null   category
 10  OnlineSecurity    7032 non-null   category
 11  OnlineBackup      7032 non-null   category
 12  DeviceProtection  7032 non-null   category
 13  TechSupport       7032 non-null   category
 14  StreamingTV       7032 non-null   category
 15  StreamingMovies   7032 non-null   category
 16  Contract          7032 non-null   category
 17  PaperlessBilling  7032 non-null   Int64
 18  PaymentMethod     7032 non-null   category
 19  Charges_Monthly   7032 non-null   float64
 20  Charges_Total     7032 non-null   float64
 21  daily_accounts    7032 non-null   float64
dtypes: Int64(5), category(11), float64(3), int64(2), string(1)
memory usage: 770.6 KB

# ðŸ“Š Carga e anÃ¡lise

In [21]:
total_cancelados = sum(df['Churn'] == 0)

In [22]:
df[df['Churn'] == 0].agg(
    {
        'customerID':'size',
        'tenure':'mean',
        'daily_accounts':'mean',
        'Charges_Monthly':'mean',
        'Charges_Total':'mean',
    }
).apply(lambda x: round(x,2)).rename('Metricas')

customerID         5163.00
tenure               37.65
daily_accounts        2.04
Charges_Monthly      61.31
Charges_Total      2555.34
Name: Metricas, dtype: float64

In [24]:
df[df['Churn'] == 1].agg(
    {
        'customerID': 'size',
        'tenure':'mean',
        'daily_accounts':'mean',
        'Charges_Monthly':'mean',
        'Charges_Total':'mean',
    }
).apply(lambda x: round(x,2)).rename('Metricas')

customerID         1869.00
tenure               17.98
daily_accounts        2.48
Charges_Monthly      74.44
Charges_Total      1531.80
Name: Metricas, dtype: float64

In [25]:
perc_cancelamento = round(sum(df['Churn'] == 0) / len(df) * 100,2)
print(f'O nÃºmero de cancelamento corresponde a {perc_cancelamento}% do total {len(df)}')

O nÃºmero de cancelamento corresponde a 73.42% do total 7032

In [39]:
pd.crosstab(df['gender'], df['Churn'], normalize='columns').apply(lambda x: round(x,4)*100)

Churn       0      1
gender
Female  49.27  50.24
Male    50.73  49.76

In [46]:
total_idosos_ccl = df.loc[df['SeniorCitizen'] == 1,'SeniorCitizen'].sum()
perc_idosos = round(total_idosos_ccl/total_cancelados*100,2)
print(f'Total Idosos Cancelados {total_idosos_ccl} - ({perc_idosos}%)')

Total Idosos Cancelados 1142 - (22.12%)

In [30]:
total_patner = df.loc[(df['Churn'] == 0) & (df['Partner'] == 1),'Partner'].sum()
perc_partner = round(total_patner/total_cancelados*100,2)
print(f'Total Clientes Sozinhos Cancelados {total_patner} - ({perc_partner}%)')

Total Clientes Sozinhos Cancelados 2724 - (52.76%)

In [31]:
total_dependents = df.loc[(df['Churn'] == 0) & (df['Dependents'] == 1),'Dependents'].sum()
perc_dependents = round(total_dependents/total_cancelados*100,2)
print(f'Total Clientes Dependentes Cancelados {total_dependents} - ({perc_dependents}%)')

Total Clientes Dependentes Cancelados 1773 - (34.34%)

In [43]:
for i in ['PhoneService','InternetService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']:
  print(df.loc[df['Churn'] == 0,i].value_counts())
  print('-'*30,'\n')

PhoneService
1    4653
0     510
Name: count, dtype: Int64
------------------------------

InternetService
DSL            1957
Fiber optic    1799
No             1407
Name: count, dtype: int64
------------------------------

MultipleLines
No                  2536
Yes                 2117
No phone service     510
Name: count, dtype: int64
------------------------------

OnlineSecurity
No                     2036
Yes                    1720
No internet service    1407
Name: count, dtype: int64
------------------------------

OnlineBackup
Yes                    1902
No                     1854
No internet service    1407
Name: count, dtype: int64
------------------------------

DeviceProtection
No                     1883
Yes                    1873
No internet service    1407
Name: count, dtype: int64
------------------------------

TechSupport
No                     2026
Yes                    1730
No internet service    1407
Name: count, dtype: int64
------------------------------

StreamingTV
Yes                    1889
No                     1867
No internet service    1407
Name: count, dtype: int64
------------------------------

StreamingMovies
Yes                    1913
No                     1843
No internet service    1407
Name: count, dtype: int64
------------------------------

In [42]:
for i in ['PaymentMethod','PaperlessBilling']:
  print(df.loc[df['Churn'] == 0,i].value_counts())
  print('-'*30,'\n')

PaymentMethod
Mailed check                 1296
Electronic check             1294
Credit card (automatic)      1289
Bank transfer (automatic)    1284
Name: count, dtype: int64
------------------------------

PaperlessBilling
1    2768
0    2395
Name: count, dtype: Int64
------------------------------